<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Notes</title>
</head>
<body>
  <h1>List of Notes</h1>
  <h3>You have <%= notes.length%> notes</h3>
  <ul>
    <% for(var i = 0; i < notes.length; i++) {  %>
      <li>Note <%= i %> - <%= notes[i].Note %></li>
    <% } %>
  </ul>
</body>
</html>